*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.parent{
    background-color:#111827;
    width: 100%;
    min-height: 100vh;
    padding: 10px;

}
.header_text{
    width: 100%;
    max-width: 540px;
    color:#a204a2;
    font-weight: 20px;
    margin: 5px 5px 10px;
    padding: 5px 5px 5px;
    border-radius: 20px;
}
.header_text span{
    color:#ffffff ;
    background-color: transparent;
}

.todo_app{
    width: 100%;
    max-width: 540px;
    background:#1f2937;
    margin: 50px 10px 10px;
    padding: 40px 40px 70px;
    border-radius: 20px;
}
.todo_app h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}

.todo_app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    border: 2px solid #800080;
    
}
input{
    flex: 1;
    border: none;
    border-color: #c800ff;
    border-radius: 20px;
    outline: none;

  
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    color: white;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #800080;
    color: white;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    position: relative;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 40px;
    user-select: none;
    cursor: pointer;
    margin-left: 10px;
    color:  #c800ff;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 5px;
    background-image: url(./img/check_icon.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #420642;
    text-decoration: line-through;
}

ul li.checked::before{
    height: 28px;
    width: 28px;
     background-image: url(./img/check_mark_icon.png);

}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 32px;
    color: rgb(234, 0, 255);
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #191238;
    border-radius: 50%;
    opacity: 0.3;
    color: white;
}
P{
    background-color:#111827;
    color: #ffffff;
    text-align: right;
}

@media  (max-width: 600px) {
    .todo_app{
        width: 100%;
        max-width: 380px;
        background:#1f2937;
        margin: 50px 1px 30px;
        padding: 50px 40px 70px;
        border-radius: 20px;
    }
    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 30px;
        padding-left: 10px;
        margin-bottom: 25px;
        border: 2px solid #800080;
        
    }
    button{
        border: none;
        outline: none;
        padding: 10px 20px;
        background: #800080;
        color: white;
        cursor: pointer;
        border-radius: 40px;
    }
    .header_text{
        width: 100%;
        max-width: 540px;
        color:#a204a2;
        font-weight: 10px;
        margin: 5px 1px 10px;
        padding: 5px 5px 5px;
        border-radius: 20px;
        font-size:25px ;
    }
  }